# Estimating Tail Risk

Historical Drawdown
Value at Risk
Conditional Value at Risk
Monte-Carlo Simulation

In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [24]:
# Loading Data
data = pd.read_csv(r"C:\Users\obien\OneDrive\Desktop\Portfolio_2023\Data\Stocks\USO.csv")

In [25]:
data.head()

         Date       USO
0  2007-01-03 -0.042636
1  2007-01-04 -0.040688
2  2007-01-05  0.009285
3  2007-01-08 -0.007109
4  2007-01-09 -0.004001

In [30]:
# Historical Drawdown
running_max = np.maximum.accumulate(data['USO'])
running_max[running_max < 1] = 1
drawdown = (data['USO']) / running_max - 1
drawdown

0      -1.042636
1      -1.040688
2      -0.990715
3      -1.007109
4      -1.004001
          ...
2764   -0.998282
2765   -0.975129
2766   -1.002510
2767   -0.995805
2768   -0.996658
Name: USO, Length: 2769, dtype: float64

In [31]:
# Historical VaR
var_level = 95
var_95 = np.percentile(data['USO'], 100 - var_level)
cvar_95 = data['USO'][data['USO'] <= var_95].mean()
cvar_95

-0.05054143158346778

In [38]:
# Parametric VaR
from scipy.stats import norm
mu = np.mean(data)
std = np.std(data)
confidence_level = 0.05
VaR = norm.ppf(confidence_level, mu, std)
VaR

C:\Users\obien\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:3430: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)
C:\Users\obien\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:3430: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)
C:\Users\obien\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:3571: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  return std(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)

array([-0.03628909])

In [40]:
# Scaling Risk
forecast_days = 5
forecast_var95_5day = var_95*np.sqrt(forecast_days)
forecast_var95_5day

-0.08068255975097778

In [41]:
# Random Walks
mu = np.mean(data)
std = np.std(data)
T = 252
S0 = 10
rand_rets = np.random.normal(mu, std, T) + 1
forecasted_values = S0 * (rand_rets.cumprod())
forecasted_values

array([10.23363862, 10.27844532, 10.31164104, 10.10510053, 10.15016261,
       10.09397688, 10.12821777, 10.55613453, 10.52838553, 10.28419647,
       10.4405201 , 10.7241473 , 10.85270948, 10.77842007, 11.23527424,
       11.29986973, 11.4496935 , 11.14339631, 11.26441102, 11.35223785,
       10.991206  , 10.87647667, 11.25894951, 10.73350843, 10.50750454,
       10.60762659, 10.46858446, 10.54868911, 10.48846158, 10.86772193,
       10.76692745, 10.97714653, 10.96724509, 11.07565994, 11.22560079,
       11.58029947, 11.73371712, 11.92064516, 12.10579901, 12.5520157 ,
       12.39062837, 12.64963382, 13.11593234, 13.4885396 , 13.31839829,
       13.29547782, 13.28086091, 13.24294078, 13.58722428, 13.58747169,
       13.65087865, 13.65412624, 13.16520853, 13.2308569 , 13.57074424,
       14.39460905, 14.16414129, 14.00145596, 13.83902987, 13.29760727,
       13.61400253, 13.39121127, 13.60939347, 13.34884706, 13.56274805,
       13.59201445, 13.08504188, 13.50087958, 13.74317199, 14.37906722,
       14.55773412, 14.63380259, 14.4645869 , 14.92071264, 14.92459313,
       14.50481612, 14.13655201, 13.95676783, 13.95938394, 14.09593417,
       14.41374177, 14.11053102, 14.16908363, 13.68015072, 13.8038838 ,
       13.45759451, 13.12729554, 12.89156042, 13.10326079, 13.54581696,
       13.64928198, 13.75637124, 14.15559991, 14.40354518, 14.39854341,
       14.33039529, 14.39871884, 14.65723202, 14.60985842, 15.02856922,
       14.71330318, 14.47806296, 14.1017261 , 14.06304445, 13.93163507,
       14.17435428, 13.74224606, 14.12352957, 14.62483734, 14.0116353 ,
       13.80937797, 13.6303    , 13.70871235, 13.25809005, 13.85097535,
       14.2120845 , 14.437819  , 13.82989091, 13.8220199 , 13.53323892,
       13.08809647, 13.25446411, 13.08652588, 13.40526745, 12.90572311,
       12.08851475, 11.94335878, 11.64945615, 11.35923971, 11.15306742,
       11.47441206, 11.25566378, 11.36439097, 11.03592184, 10.9423758 ,
       11.02261105, 11.22096258, 11.2492572 , 11.13070463, 11.10152452,
       11.28012055, 11.61935617, 11.54880236, 11.65732779, 11.37060044,
       11.49121344, 11.23457299, 10.88624396, 10.89092397, 10.72541251,
       10.7089759 , 10.66624279, 10.95848506, 10.89834178, 10.61468375,
       10.20154527, 10.55689936, 10.69626939, 11.13843574, 10.82888972,
       10.83470533, 11.16313922, 11.3917721 , 11.20270502, 11.39148357,
       11.7435909 , 11.94859127, 11.82005431, 12.29003946, 12.24133786,
       12.6153929 , 12.50910122, 11.978075  , 12.54908152, 12.07290555,
       12.0408395 , 11.88608309, 12.06260462, 11.96063315, 11.83815898,
       11.54142229, 11.28656227, 11.23454188, 11.53295614, 11.74156862,
       11.94473912, 12.02800292, 12.22853044, 11.86827054, 11.66587797,
       11.61593661, 11.34549413, 11.37039303, 11.33792499, 11.37745969,
       11.05252323, 11.11268849, 10.65961295, 10.78420986, 10.7449469 ,
       10.66915564, 10.66524723, 10.42969514, 10.68247348, 10.57381775,
       10.88043583, 10.84625069, 10.6458752 , 10.59523542, 10.20491348,
       10.58189328, 10.83693067, 11.32335582, 12.05278608, 11.66659559,
       12.15962479, 12.23751981, 12.30213513, 12.5346005 , 12.52012702,
       12.29335316, 12.18477589, 12.22504914, 12.32454739, 12.20146315,
       12.26404376, 11.95927815, 11.95780453, 11.38180714, 11.22000378,
       11.15361621, 11.18518866, 10.86425747, 10.874935  , 10.79058242,
       10.72094835, 10.96477855, 10.93589066, 11.10985737, 10.74640731,
       10.94108565, 11.18319308, 11.2498765 , 11.11977556, 10.98852888,
       10.74126647, 10.67948909, 10.20028404,  9.84450267,  9.79614156,
        9.86272812, 10.05634944])

In [43]:
# Monte Carlo Simulations
mu = 0.0005
vol = 0.001
T = 252
sim_returns = []
for i in range(100):
    rand_rets = np.random.normal(mu, vol, T)
    sim_returns.append(rand_rets)
var_95 = np.percentile(sim_returns, 5)
var_95

-0.0011179146099201344